h1
{
    font-size: 5vw;
}

.team
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team > div
{
    padding: 20px 30px;
    width: 200px;
    height: 120px;
    background-color: #b6bbc5;
    color: #ffffff;
    font: normal normal bold 30px/35px "";
}