h1
{
    color: #ffffff;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}

body
{
    background-image: url(image/2025-12-09\ 160536.png);
    background-size: 100%;
    background-size: cover;
}

.team
{
    position: relative;
    left: 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.team > div
{
    padding: 20px 30px;
    width: 200px;
    height: 120px;
    background-image: linear-gradient(to right, #eeeeee, #888888);
}

.team > div > h1
{
    color: #333333;
    font: normal normal bold 25px/35px "";
    text-align: left;
}

.team > div > h2
{
    color: #444444;
    font: normal normal normal 15px/20px "";
}

#space
{
    position: absolute;
    height: 100px;
}