*
{
    padding: 0;
    margin: 0;
}

.cover
{
    position: relative;
    width: 100%;
    height: 220px;
}

.cover > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover > h1
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    font: normal normal bold 40px/40px "";
    color: #ffffff;
    text-align: center;
    font-size: clamp(24px, 3vw, 40px);
    line-height: clamp(40px, 4vw, 50px);
}

#topmenu > .navbar
{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #eeeeee;
    box-shadow: 0 1px 15px 0 #aaaaaa;
    align-items: center;
    justify-content: center;
}

#topmenu > .navbar > a:first-child
{
    margin-left: 30%;
}

#topmenu > .navbar > a:last-child
{
    margin-right: 30%;
}

#topmenu > .navbar > a:nth-child(n)
{
    flex: 1;
    color: #222222;
    text-decoration: none;
    text-align: center;
}

#topmenu > .navbar > .current
{
    color: #2244ff;
}

#topmenu > .navbar >  a:hover
{
    color: #2244ff;
}

#mainpage
{
    width: 100vw;
    height: 550px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

#mainpage.hidden
{
    opacity: 0;
}

.current
{
    color: #4488ee !important;
}