*
{
    padding: 0;
    margin: 0;
}

.content
{
    margin-top: 30px;
    position: absolute;
    left: 5%;
    display: inline-block;
    width: 40%;
    height: 900px;
}

.content > h1
{
    color: #222222;
    text-align: center;
    font-size: clamp(10px, 5vw, 60px);
}

.content > p
{
    margin: 30px 35px;
    margin-bottom: 10px;
    color: #333333;
    text-align: center;
    font-size: clamp(5px, 2vw, 20px);
    line-height: clamp(10px, 3vw, 40px);
}

.image
{
    margin-top: 30px;
    position: absolute;
    right: 5%;
    display: inline-block;
    width: 40%;
    height: 900px;
    overflow: hidden;
}

.image > img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.nav
{
    position: absolute;
    bottom: 5px;
    width: 70%;
    left: 49%;
    transform: translateX(-50%);
}

.nav > a
{
    margin-top: 10px;
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #663344;
    border-radius: 25px;

    color: #774455;
    font: normal bold 25px/50px "Times New Roman";
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}

.nav > a:hover
{
    background-color: #cccccc;
}

.nav > a:active
{
    background-color: #888888;
    color: #ffffff;
}

body
{
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

body.move
{
    transform: translateX(100%);
}