*
{
    padding: 0;
    margin: 0;
}

.nav
{
    position: relative;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.nav > a
{
    margin-top: 20px;
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 25px;

    color: #333333;
    font: normal bold 25px/50px "Times New Roman";
    text-decoration: none;
    text-align: center;
}

.nav > a:hover
{
    background-color: #cccccc;
}

.nav > a:active
{
    background-color: #888888;
    color: #ffffff;
}