*
{
    margin: 0;
    padding: 0;
}

.section1
{
    margin: 0 15%;
    margin-top: 40px;
    width: 70%;
    height: 60vh;
    color: #333333;
    overflow: hidden;
}

.section1 > h1
{
    margin-top: clamp(10px, 2vw, 25px);
    font-size: clamp(10px, 2vw, 20px);
    text-align: center;
}

.section1 > h2
{
    margin-top: clamp(5px, 1vw, 10px);
    font-size: clamp(10px, 3vw, 50px);
    line-height: 50px;
    text-align: center;
}

.section1 > h3
{
    margin-top: clamp(10px, 1vw, 20px);
    position: relative;
    font-size: clamp(10px, 2vw, 20px);
    font-weight: 400;
    text-align: center;
    width: 60%;
    left: 50%;
    transform: translateX(-50%)
}

.section2
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #eeeeee;
}

.section2 > img
{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: fill;
}

.section3
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #eeeeee;
}

.section3 > img
{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: fill;
}

body
{
    overflow-x: hidden;
}

body.move
{
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out;
}

body.move-active
{
    opacity: 1;
    transform: translateX(0);
}